.card2-container {
  position: relative;
  width: 95%;
  height: 350px;
  cursor: pointer;
  margin-right: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 85%;
  margin: auto;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 10%;
}

.card2-cat {
  display: inline-flex;
  padding: 5px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  height: 12px;
  width: 42px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.card2-cat p {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card2-date {
  height: 15px;
  width: 59px;
  text-wrap: nowrap;
}

.card2-date p {
  color: #e5e5e5;
  font-family: Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card2-title {
  max-width: 90%;
  height: 50px;
}

.card2-title h2 {
  color: #fff;
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.card2-des {
  width: 100%;
  height: 60px;
}

.card2-des p {
  color: #e5e5e5;
  font-family: Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 1rem;
}

.card2-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Place the image behind the content */
}

@media only screen and (max-width: 850px) {
  .main-content {
    margin-left: 5%;
  }

  .card2-cat {
    margin-left: 5%;
  }

  .card2-des p {
    margin-top: 1rem;
  }
}
