* {
  margin: 0;
  padding: 0;
}
.post-container {
  
  max-width: 84%;
  display: flex;
  margin-top: 4%;
  margin-left: 5%;
  
}
.post-date {
  height: 25px;
  width: 20%;
  display: flex;
  align-items: center;
  margin-right: 3%;
}
.post-date span {
  height: 25px;
  width: 60px;
  color: #495057;
  font-family: Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 208.333% */
  text-wrap: nowrap;
}
.post-content {
  
  width: 85%;
}
.post-content p {
  color: #495057;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}
.post-content-h1 {
  color: #d4a373;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 83%;
}
hr {
  width: 35px;
  height: 1px;
  background: #c4c4c4;
  margin-top: -1px;
  margin-left: 5px;
    margin-right: 7px;
}
.date-span {
  margin-right: 5px;
}
.time-span {
  margin-left: 4px;
}
@media(max-width:1080px){
  .time-span{
    text-wrap: nowrap;
  }
}
@media (max-width: 768px) {
  .post-container {
    height: auto; /* Adjust the height to fit the content */
    max-width: 100%; /* Use the full width of the screen */
    flex-direction: column; /* Stack the elements vertically */
    margin-top: 75px; /* Reduce the top margin */
    margin-left: 0; /* Remove the left margin */

  }

  .post-date {
    width: 100%; /* Use the full width of the screen */
    justify-content: center; /* Center the date */
    margin-right: 0; /* Remove the right margin */
  }

  .post-content {
    padding: 10px 16px;
  }

  .post-content p {
    font-size: 12px; /* Reduce the font size */
    line-height: 20px; /* Reduce the line height */
  }

  .post-content-h1 {
    font-size: 24px; /* Reduce the font size */
    max-width: 100%; /* Use the full width of the screen */
  }
}
