* {
  margin: 0;
  padding: 0;
}
.editor-container {
  
  margin-left: -6px;
  margin-right: -26px;
  
  margin-bottom: 125px;
   
}

.editor-title {
  width: 13.5625rem;
  height: 2.875rem;
  margin-bottom: 3%;
  margin-left: 4.8%;
}

.editor-title h2 {
  color: #495057;
  font-family: Lora;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.editor-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Adjusted gap for better spacing between cards */
  margin-top: 15px; /* Added margin to prevent overlap with the main container */
}

@media (min-width: 768px) {
  .editor-cards {
    margin-top: 0; /* Adjusted margin for larger screens */
  }
  .editor-title{
    margin-bottom: 70px;
  }
}
