.navbar{
    display: flex;
    background: rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 80px;
    align-items: center;   
}
.left{
    display: flex;
    flex: 3;
    color: #F8F9FA;
    font-family: Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 22px;
    width: 69px;
    align-items: center;
    margin: 29px 70px 29px 70px;
    cursor: pointer;
}
.nav-items{
    list-style: none;
    display: flex;
    flex: 9;
}
.nav-item{
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px;
    cursor: pointer;
}
.nav-item a{
    text-decoration: none;
    color: #FFF;
}
.nav-icon{
    color: aqua;
}