/* Header.css */

* {
  margin: 0;
  padding: 0;
}

.border {
  border-left: 1px solid white;
  height: 1.25rem;
}

.icons {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.icons > svg {
  height: 90%;
  width: 90%;
}

.navbar {
  display: flex;
  background: rgba(0, 0, 0, 0.20);
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 4.312rem;
  height: 1.375rem;
  margin-left: 4.38rem;
}

.left h2 {
  color: #F8F9FA;
  font-family: Spartan;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.right {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4.38rem;
}

.nav-item {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
  text-wrap: nowrap;
  white-space: nowrap;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.contact {
  height: 0.875rem;
  width: 6rem;
  text-wrap: nowrap;
  white-space: nowrap;
  margin-top: 2.06rem;
  margin-bottom: 2.06rem;
}

.nav-item.active {
  border-bottom: 2px solid #D4A373;
}
.search-container {
  position: fixed;
  top: 80px;
  right: 10px;
  padding: 10px;
  background: white;

  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
}
.search-container p{
  position: absolute;
  top: 10px;
  font-size: small;
  right: 200px;
}
.search-results{
  overflow-y: scroll;
  max-height: 20rem;
  margin-left: 63px;
}
.search-results h3{
  color: black;
  padding: 10px;
}
@media(max-width:1025px){
  .search-results{
    max-height: 27rem;
  }
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    display: flex;
    float: right;
  }
  .search-results{
    overflow-y: scroll;
    max-height: 20rem;
    margin-left: 1px;
  }
  .search-results h3{
    text-wrap: nowrap;
    padding:10px;
  }
  
  .search-container {
    position: fixed;
    top: 80px;
    right: 165px;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
  }
  .search-results{
    overflow-y: scroll;
    max-height: 20rem;
    
  }
  .search-container-input{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .search-container p{
    position: absolute;
    top: 10px;
    font-size: small;
    right: 110px;
  }
  .navbar.open {
    justify-content: space-between;
  }
  .search{
    display: block !important;
    height: 30px;
    width: 30px;
  }
  .search svg{
    height: 30px;
    width: 30px;
  }

  .icons {
    display: none;
  }
  

  .border {
    display: none;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    background: rgba(0, 0, 0, 42%);
    top: 80px;
    right: 0;
    z-index: 1;
  }

  .contact {
    width: 66px;
    white-space: nowrap;
  }

  .nav-items.open {
    display: flex;
    margin-right: 0px;
    text-wrap: nowrap;
    white-space: nowrap;
    width: 160px;
    height: 200px;
  }

  .nav-item contact {
    text-wrap: nowrap;
  }

  .nav-item {
    margin: 10px 20px;
  }

  .left {
    margin-left: 1.5rem;
    flex-grow: 1;
  }
}

.nav-item {
  transition: transform 0.3s ease;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-item a:hover {
  color: #fff;
}

/* New styles for the search container and textarea */





.search-container-input{
  position: absolute;
  top: 10px;
}

.result{
  height: 100%;
  width:100%;
  
}
.search-results li{
  list-style: none;
}

@media(max-width:480px){
  .search-container p{
    position: absolute;
    top: 30px;
    font-size: small;
    right: 110px;
    text-wrap: nowrap;
  }
  .search-container-input{
    left: 22px;
  }
}
@media(max-width:380px){
  .search-container p{
    
    right: 88px;
    
  }
  .search-results h3{
    text-wrap: nowrap;
    white-space: nowrap;
    padding: 5px;
  }
  .search-results{
    margin-left: 10px;
  }
}
@media(max-width:330px){
  .search-container{
    top: 282px;
    right: 8px;
    width: 58%;
    height: 45%;
  }
  .search-results{
    overflow-y: scroll;
    max-height: 14rem;
    margin-left: 11px;
  }
}
