.topic-container {
  max-width: 92%;
  margin:  60px auto ;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 2%;
  margin-left: 41px;
  margin-right: 29px;
}
.gif_img{
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
 }
 
.loader-image{
  
  height: 70px;
  width: 70px;
  
}

.topic-cat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.topic-title h2 {
  color: #495057;
  font-family: Lora, serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.left-cat-items {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.left-cat-item {
  list-style: none;
  margin-bottom: 0.5rem;
}

.left-cat-item a {
  color: #495057;
  font-family: Lora, serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.right-cat a {
  color: #495057;
  font-family: Lora, serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 1rem;
  
}

.item1 a {
  color: #D4A373;;
}


/* Adjust card styles as needed */
.topic-cards .card {
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add other card styles */
}


@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for medium screens */
  .topic-container {
    padding: 1.5%;
  }
}
@media (max-width: 768px) {
  .left-cat-items {
    justify-content: start;
    text-align: center;
    
  }
  .left-cat-item a{
    font-size: 5px;
  }

  .right-cat a{
    font-size: 10px;
    
  }
  
  .topic-container{
    margin:  45px auto ;
    margin-bottom: 45px;
  }

  

  .left-cat-item a {
    font-size: 12px;
  }
}
@media(max-width:440px){
  .left-cat{
    text-wrap: wrap;
  }
  .right-cat{
    text-wrap: nowrap;
  }
}