*{
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: #e5e5e5;
  }
  
 
  
  .upper-footer {
    height: 400px;
    width: 100%;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lower-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 98.7%;
    background-color: #343a40;
    padding: 10px;
  }
 
  
  
  .left-lower {
    height: auto;
    width: 14rem;
    margin-left: 51px;
    
    padding: 10px;
    text-align: start;
    
  }
  .right-lower {
    height: auto;
    width: 8rem;
    margin-right: 40px;
    
    padding: 10px;
    text-align: end;
  }
  
  .left-lower p,
  .right-lower p {
    color: #e5e5e5;
    font-family: Lora;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
  }
  
  .upper-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    height: auto;
    width: 77%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .upper-container-item {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .upper-container-item1 h4 {
    color: #e5e5e5;
    font-family: Lora;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }
  .upper-container-item2 h4 {
    color: #e5e5e5;
    font-family: Lora;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }
  .upper-container-item3 h4 {
    color: #e5e5e5;
    font-family: Lora;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }
  .upper-container-item4 h4 {
    color: #e5e5e5;
    font-family: Lora;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }
  
  .upper-container-item1 p {
    color: #e5e5e5;
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
  }
  .upper-container-item2 p {
    color: #e5e5e5;
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
  }
  .upper-container-item3 p {
    color: #e5e5e5;
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .left-lower,
    .right-lower {
      width: 45%;
    }
    .upper-container{
        width: 85%;
    }
  
    .upper-container-item {
      width: 48%;
    }
    .left-lower{   width: 43%;
    text-wrap: nowrap;
    margin-left: 10px;
    }
    .right-lower{
      margin-right: 18px;
    }
  }
  